/* css/styles.css */
.card-body {
    position: relative;
}
.delete-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}
.notification {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: orangered;
    color: white;
    padding: 15px 30px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}